{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>使用者名稱:</label>
        <input type="text" name="username" placeholder="請輸入使用者名稱" />

        <label>密碼:</label>
        <input type="password" name="password" placeholder="請輸入密碼" />

        <input type="submit" value="登入" />
        <p>還沒註冊</p>
        <a href="{% url 'register' %}">註冊</a>
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="註冊" />
        <p>已經註冊</p>
        <a href="{% url 'login' %}">登入</a>
    </form>
</div>
{% endif %}
{% endblock content %}