{% extends 'main.html' %}
{% block home-page %}
<style>
    /* 排版容器 */
    * {
        box-sizing: border-box;
    }
    .grid-container {
        display: grid;
        grid-template-areas:
            'qinfo qinfo  qinfo qinfo   qinfo    '
            'post  post   post  sfollow sfollow  ';
        gap: 10px;
        padding: 10px;
    }

    /* 搜尋資訊 */
    .qinfo {grid-area:qinfo;background-color: aqua;}
    .qinfo-body {margin-left: 13%;margin-bottom: 3%;}

    /* 推薦追蹤 */
    .sfollow {grid-area:sfollow;background-color: aqua;}
    .sfollow-body {width: 400px;}
    
    /* 貼文 */
    .post {grid-area:post;background-color: aqua;}
    .post-body {
        margin-left: 20%;
        margin-bottom:5%; 
        border: 1px solid black;
        max-width:70%;
    }


</style>
<div class="grid-container">
    
    <!-- 搜尋資訊 -->
    {% if user_content != None %}
        <div class="qinfo">
            <div class="qinfo-body">
                <div class="qinfo-title">
                    <h4 >用戶</h4>
                </div>
                {% for u in user_content %}
                <div class="qinfo-user">
                    <a href="{% url 'profile' u.user %}">   
                        <img src="{{u.profileimg.url}}"  style="width:30px; height: 30px;" class="rounded-pill"> 
                    </a> 
    
                    <a href="{% url 'profile' u.user %}" style="color:black">  
                        {{u.user}}
                    </a>
                </div>
                {% endfor%}
            </div>
        </div>
    {% endif %}

    <!-- 推薦追蹤 -->
    <div class="sfollow">
        <div class="sfollow-body">
            <div class="sfollow-title">
                <h4>推薦追蹤</h4>
            </div>
            
            {% for su in suggestions_user_profile %}
                <div class="sfollow-user">
                    <a href="{% url 'profile' su.user %}">   
                        <img src="{{su.profileimg.url}}"  style="width:30px; height: 30px;" class="rounded-pill"> 
                    </a> 
    
                    <a href="{% url 'profile' su.user %}" style="color:black">  
                        {{su.user}} 
                    </a>   
                </div>               
            {% endfor %}
    
        </div>

    </div>

    <!-- 貼文 -->
    <div class="post">
        {% for p in post_content reversed %}   
        <div class="post-body">
            <div class="post-title">
                <a href="{% url 'profile' p.author_img.user %}">
                    <img src="{{p.author_img.profileimg.url}}"  style="width:30px; height: 30px;" class="rounded-pill"> 
                </a>
                <a href="{% url 'profile' p.author_img.user %}">
                    {{p.user}}
                </a>    
            </div>


            <a href="{{p.image.url}}">
                <img style="width:100%;"src="{{p.image.url}}" alt="">
            </a>


            <div class="post-function">                
                <button name="post-button" >
                    <a id="{{p.id}}" style="color:rgb(181, 181, 181)" href="/like-post?post_id={{p.id}}" >
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                </button>
                        
            </div>

            <div class="post-likes">

                <strong>愛心數：{{p.no_of_likes}}</strong>


            </div>

            <div class="post-message">
                <strong>{{p.user}}:</strong>{{p.caption}}

            </div>
        </div> 
        {% endfor %}
    </div>

</div>












<!-- 把按過的post愛心使用post_id尋找並改成紅色 -->
{% for lp in like_post %}
    <script>
        document.getElementById("{{lp.post_id}}").style.color = "red";
    </script>
{% endfor %}




{% endblock %}
